* {
    margin: 1px;
}

.recipeContent {
    background-color: lightgrey;
}

.recipeItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 5px;
  }
  
  .title {
    background-color: #ffeba2;
    color: grey;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
    /*margin: 5px 0; */
    display: flex;
        justify-content: space-between;
    
  }
  
  .recipeItems img {
    height: 350px;
    width: 350px;
    border: 2px solid black;
    margin: auto 50px;
  }
  
  .ingredients {
    height: 250px;
    padding: 5px 30px;
    background-color: rgb(206, 202, 179);
    font-weight: lighter;
    margin: 2px 1px 10px;
    list-style-type: none;
    line-height: 2.5;
    overflow: auto;
  }
  
  #recipesheading {
    text-align: center;
  }

  .recipe {

    background-color: rgb(206, 202, 179);
    font-weight: lighter;
    padding: 10px 20px;  
    text-align: center; 
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    max-height: fit-content;
  }
  
  .noData {
    text-align: center;
  }
.marginIcon1 {
    margin-left: 300px;
  }   
  
.marginIcon2 {
    margin-right: 20px;
  }  

  #heartIcon {
    color: black;  
  }
  